In [4]:
import pandas as pd
import apikeys
import requests
url = 'https://vision.googleapis.com/v1/images:annotate'
apikey = apikeys
req = requests.post(url, apikeys)

In [2]:
image_df = pd.read_csv('image_data.csv')
image_df.head()

,Unnamed: 0,asin,overall,imUrl
0,34,0001473727,5.000000,http://ecx.images-amazon.com/images/I/512M299K...
1,63,000100039X,4.666667,http://ecx.images-amazon.com/images/I/81ZKLPiv...
2,65,0001473905,5.000000,http://ecx.images-amazon.com/images/I/61KPC59B...
3,134,0001473123,5.000000,http://ecx.images-amazon.com/images/I/317G8R2T...
4,169,0002005395,4.000000,http://ecx.images-amazon.com/images/I/415HPT70...

In [5]:
good_df = image_df.loc[image_df['overall'] >4.0]
good_df.head()
bad_df = image_df.loc[image_df['overall']<2]
bad_df.head()

NameError: name 'grouped_df' is not defined